/* 

fonts
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;

kleur 
#5D0A17 - donker rood
#3D060E - donkerder rood
#F3F2E3 - wit
#3195A6 - blauw
#DF222A - fel rood
#F26638 - oranje
*/

/*rechtstreekse elementen */
* {
  font-size: 18px;
  font-family: "Roboto", Sans-Serif;
}
body{
  background-color: #F3F2E3;
}
h1 {
  font-size: 5rem;
  font-family: "Playfair Display", Serif;
}

.container {
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.huidigstuk {
  font-size: 2rem;
  font-family: "Playfair Display", Serif;
  margin-left: 30%;
  margin-right: 4%;
  padding-top: 100px;
  color: #5d0a17;
}

.tekst {
  text-align: justify;
  margin-left: 30%;
  margin-right: 4%;
  margin-bottom: 100px;
}

/* Navbar hoofdpagina */
.navbar-nav {
  margin-left: auto;
  margin-right: 10px;
}

.navbar-dark {
  background-color: black !important;
}

.navbar-red {
  background-color: #5D0A17 !important;
}

.nav-link {
  color: #f3f2e3 !important;
}

/* Hero-image hoofdpagina */
.hero-image {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text2 {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*buttons*/
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #F3F2E3;
  background-color: #3195a6;
  text-align: center;
  cursor: pointer;
}

.buttonreverse {
  border: 3px solid #3195a6;
  outline: 0;
  position: absolute;
  padding: 7px 22px;
  color: black;
  background-color: #f3f2e3;
  text-align: center;
  cursor: pointer;
  right: 4%;
  margin-top: 2rem;
}

/*position button homepage*/
#position {
  margin-left: 30%;
  margin-top: 2rem;
}

/*Gedeelte onder hero img */
.reservatie {
  background-color: #f3f2e3;
  height: 100vh;
}

.form-box {
  background-color: #3d060e;
  color: #f3f2e3;
  padding: 5px 10px;
  margin: 0;
}

.formulier {
  border: 2px solid #3d060e;
  border-radius: 0;
  color: black;
  height: 37px;
}

.affiche {
  position: absolute;
  left: 30px;
  top: 130vh;
}

.form-pos {
  margin-left: 30%;
}

.footer {
  background-color: #3d060e;
  color: #f3f2e3;
  height: 90px;
  margin-bottom: 0px;
}

.footer-nav {
  display: inline-block;
  position: absolute;
  right: 50px;
  max-height: 90px;
}

.footer-img {
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
  max-height: 50px;
  min-height: 50px;
}

.footer-txt {
  display: inline-block;
  margin: 20px 0px;
}
/*margin ul bij footer*/
footer > nav > ul {
  margin-bottom: 0px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(243,242,227)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-control{
  border: 2px solid #3d060e;
  border-radius: 0;
  color: black;
  height: 37px;
}

label{
  background-color: #3d060e;
  color: #f3f2e3;
  padding: 5px 10px;
  margin: 0;
}