/* 

fonts
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;

kleur 
#5D0A17 - donker rood
#3D060E - donkerder rood
#F3F2E3 - wit
#3195A6 - blauw
#DF222A - fel rood
#F26638 - oranje
*/

/*rechtstreekse elementen */
* {
  font-size: 18px;
  font-family: "Roboto", Sans-Serif;
}
body {
  background-color: #f3f2e3;
}

h1 {
  font-size: 5rem;
  font-family: "Playfair Display", Serif;
}

h2 {
  color: #5d0a17;
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
}

a:active,
a:hover,
a:visited,
a {
  text-decoration: none;
  color: #141414;
}

.container {
  margin-top: 50px;
  max-width: 80vw;
}

@media screen and (max-width: 1366px) {
  .hero-image > .hero-text > h1 {
    font-size: 3.5rem;
  }

  .hero-image > .hero-text2 {
    padding-bottom: 10px;
  }

  .hero-image > .hero-text2 > p {
    margin-bottom: 10px;
  }

  .hero-stuk {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .hero-image > .hero-text2 > button {
    margin-top: 0;
  }
}

.row {
  padding: 0px;
  margin: 0px;
}

.link {
  color: black;
  text-decoration: none;
}

a.blauwe-link {
  text-decoration: none;
  color: #3195a6;
}

a.blauwe-link:hover {
  text-decoration: underline;
}

.link:hover {
  color: black;
  text-decoration: none;
}

/* Navbar hoofdpagina */
.navbar-nav {
  margin-left: auto;
  margin-right: 10px;
}

.navbar-brand {
  height: 100px;
}

.navbar-dark {
  background-color: black !important;
}

.navbar-red {
  background-color: #5d0a17 !important;
}

.nav-link {
  color: #f3f2e3 !important;
  padding-bottom: 1px;
  width: max-content;
  margin: 0.5rem 0.5rem;
}

.nav-link:hover {
  border-bottom: 1px solid #f3f2e3;
  padding-bottom: 0px;
}

/*padding veranderd in margin zodat onderlijning mooit uitkomt*/

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}

/* Hero-image hoofdpagina */
.hero-image {
  min-height: calc(100% - 100px);
  max-height: calc(100vh - 100px);
  width: 100vw;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text2 {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-stuk {
  font-size: 2rem;
}

/* Huidige stuk onder hero img*/
.huidigstuk {
  font-size: 2rem;
  font-family: "Playfair Display", Serif;
  padding-top: 100px;
  color: #5d0a17;
  margin: 20px 40px 0px;
}

.samenvatting {
  text-align: justify;
  margin: 20px 40px 100px;
}

/*buttons homepage*/
.button {
  border: none;
  outline: 0;
  padding: 10px 25px;
  color: #f3f2e3;
  background-color: #3195a6;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.buttonreverse {
  border: 3px solid #3195a6;
  outline: 0;
  padding: 7px 22px;
  color: black;
  background-color: #f3f2e3;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

/*position buttons homepage*/

/*Gedeelte onder hero img 
Deel van het reservatieformuler*/
.reservatie {
  background-color: #f3f2e3;
  min-height: 100vh;
}

.form-control {
  border: 2px solid #3d060e;
  border-radius: 0;
  color: black;
}

/*blauwe buttons*/
.buttonleft {
  margin-left: 40px;
}

.buttonright {
  margin-right: 40px;
}

.txtalign {
  text-align: right;
}

.paddingleft {
  padding-left: 40px;
}

.input-size {
  width: 75px !important;
}

label {
  background-color: #3d060e;
  color: #f3f2e3;
  padding: 5px 10px;
  margin: 0;
  height: calc(1.5em + 0.75rem + 2px);
}

.btn-pos-txt {
  text-align: right;
  padding: 0px;
}

.affiche {
  float: left;
  width: 70%;
  margin: 100px 50px 0px;
}

/* OVER KOMIK */
.over-groepsfoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.over-bestuurfoto {
  max-width: 150px;
  max-height: 200px;
}

/* VOORSTELLINGEN */
.stuk-row {
  height: max-content;
}

.stuk-tekst .links {
  text-align: justify;
}

.stuk-desc {
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* number of lines to show */
  max-height: 1 * 10; /* fallback */
}

.stuk-midden {
  text-align: center;
}

.stuk-flyer {
  max-height: 350px;
  width: 100%;
  margin: 60px 0px;
}

.button-stuk {
  border: none;
  outline: 0;
  padding: 10px 25px;
  color: #f3f2e3;
  background-color: #3195a6;
  text-align: center;
  cursor: pointer;
  margin: 20px 0 40px;
}

.button-stuk:visited {
  color: #f3f2e3;
}

/* SPONSORS */
.sponsor-card {
  padding: 0;
}

.sponsor-card img {
  height: 200px;
}

/*footer*/
.footer {
  background-color: #5d0a17;
  color: #f3f2e3;
  height: 90px;
  margin-bottom: 0px;
}

.footer-nav {
  display: inline-block;
  position: absolute;
  right: 50px;
  max-height: 90px;
}

.footer-img {
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
  max-height: 50px;
  min-height: 50px;
}

.footer-txt {
  display: inline-block;
  margin: 20px 0px 0px;
}
/*margin ul bij footer*/
footer > nav > ul {
  margin-bottom: 0px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(243,242,227)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Contact page*/
.contactpage {
  padding-left: 0px !important;
}

.contactpage h4,
.contactpage h3 {
  font-weight: 600;
}

iframe {
  height: 500px;
  width: 725px;
}

.contact-info {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 2rem;
}

.contact-plaats {
  padding-top: 50px;
  text-align: justify;
}

.contact-padding {
  padding-left: 0px;
}

/*Reservatieformulier */
.een-dag {
  padding: 10px 0px;
  margin: 0px 0px;
  cursor: pointer;
}

.gekozen-dag {
  background-color: lightgrey;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.volgeboekt {
  /*display: none; */
  color: lightgrey;
}

.volgeboekt .progressBar {
  opacity: 50%;
}

.progress-label {
  float: left;
}

.progress {
  padding: 0;
  float: right;
  border-radius: 0;
  border: 1px solid #141414;
  background-color: white;
  height: 1.5rem;
}

.betaling-keuze-button {
  height: 15rem;
  font-size: 2rem;
}

.betaling-keuze-button.gekozen {
  background-color: #3195a6 !important;
  color: #f3f2e3;
}

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox; /* Firefox */
  -ms-appearance: checkbox; /* not currently supported */
  content: "14";
  transform: scale(1.5);
  border: 4px solid #3195a6;
}

.btn-next {
  margin: 40px 12%;
}

.input-aantal {
  width: 70px;
  margin: 0 auto;
}
/*Arrows*/

.arrow-dark {
  position: relative;
  background-image: url("../images/ArrowDarkpng.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 105px;
  margin-bottom: 60px;
}

.arrow-light {
  position: relative;
  background-image: url("../images/ArrowLight.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  height: 90px;
  margin-top: 7px;
}

.arrow-text-active {
  position: absolute;
  text-align: center;
  left: 85px;
  top: 32px;
  color: #f3f2e3;
  font-size: 1.5rem;
  font-weight: bold;
}

.arrow-text-inactive {
  position: absolute;
  text-align: center;
  left: 89px;
  top: 30px;
  color: #141414;
  font-size: 1.1rem;
}

.progress-arrow {
  max-width: 15vw;
  margin: 20px auto;
}

.progress-arrow-active {
  max-width: 18vw;
  margin: 20px auto;
}

.progress-margin {
  margin: 4% auto 7%;
}

/*album*/
.gallery-title {
  font-size: 36px;
  color: #42b32f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}
.filter-button {
  font-size: 18px;
  border: 1px solid #42b32f;
  border-radius: 5px;
  text-align: center;
  color: #42b32f;
  margin-bottom: 30px;
}
.filter-button:hover {
  font-size: 18px;
  border: 1px solid #42b32f;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42b32f;
}

.btn-default:active .filter-button:active {
  background-color: #42b32f;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

.overschrijving-gegevens > li,
.overschrijving-gegevens > li > b {
  font-size: 1.4rem;
}

/*Media queries */

@media screen and (max-width: 767px) {
  .progress {
    padding: 0;
    float: right;
    border-radius: 0;
    border: 1px solid #141414;
    background-color: white;
    height: 1.5rem;
    margin: 20px -35px 20px 0px;
  }

  .progress-arrow {
    max-width: 15vw;
    margin: 20px auto;
  }

  .progress-arrow-active {
    max-width: 18vw;
    margin: 20px auto;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .progress-arrow {
    max-width: 25vw;
    margin: 20px auto;
  }

  .progress-arrow-active {
    max-width: 25vw;
    margin: 20px auto;
  }
  iframe {
    height: 350px;
    width: 350px;
  }
  .stuk-titel {
    color: #5d0a17;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
  }
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .progress {
    padding: 0;
    float: right;
    border-radius: 0;
    border: 1px solid #141414;
    background-color: white;
    height: 1.5rem;
    margin: 20px -35px 20px 0px;
  }

  .progress-arrow {
    max-width: 25vw;
    margin: 20px auto;
  }

  .progress-arrow-active {
    max-width: 25vw;
    margin: 20px auto;
  }
  iframe {
    height: 500px;
    width: 500px;
  }
  .stuk-titel {
    color: #5d0a17;
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .progress-arrow {
    max-width: 20vw;
    margin: 20px auto;
  }

  .progress-arrow-active {
    max-width: 20vw;
    margin: 20px auto;
  }
  iframe {
    height: 500px;
    width: 600px;
  }

  .stuk-titel {
    color: #5d0a17;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .progress-arrow {
    max-width: 15vw;
    margin: 20px auto;
  }

  .progress-arrow-active {
    max-width: 18vw;
    margin: 20px auto;
  }
  iframe {
    height: 500px;
    width: 700px;
  }
  .stuk-titel {
    color: #5d0a17;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
  }
}
