/* 

fonts
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;

kleur 
#5D0A17 - donker rood
#3D060E - donkerder rood
#F3F2E3 - wit
#3195A6 - blauw
#DF222A - fel rood
#F26638 - oranje
*/

/*rechtstreekse elementen */
* {
  font-size: 18px;
  font-family: "Roboto", Sans-Serif;
}
body {
  background-color: #f3f2e3;
}
h1 {
  font-size: 5rem;
  font-family: "Playfair Display", Serif;
}

.container {
  margin-top: 50px;
  max-width: 80vw;
  /*
  max-width: 100vw;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  */
}

.row {
  padding: 0px;
  margin: 0px;
}

/* Navbar hoofdpagina */
.navbar-nav {
  margin-left: auto;
  margin-right: 10px;
}

.navbar-brand {
  height: 100px;
}

.navbar-dark {
  background-color: black !important;
}

.navbar-red {
  background-color: #5d0a17 !important;
}

.nav-link {
  color: #f3f2e3 !important;
  padding-bottom: 1px;
}

.nav-link:hover {
  border-bottom: 1px solid #f3f2e3;
  padding-bottom: 0px;
}

/* Hero-image hoofdpagina */
.hero-image {
  min-height: calc(100% - 100px);
  max-height: calc(100vh - 100px);
  width: 100vw;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1366px) {
  .hero-image > .hero-text > h1 {
    font-size: 3.5rem;
  }

  .hero-image > .hero-text2 {
    padding-bottom: 10px;
  }

  .hero-image > .hero-text2 > p {
    margin-bottom: 10px;
  }

  .hero-stuk {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .hero-image > .hero-text2 > button {
    margin-top: 0;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text2 {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-stuk {
  font-size: 2rem;
}

/* Huidige stuk onder hero img*/
.huidigstuk {
  font-size: 2rem;
  font-family: "Playfair Display", Serif;
  padding-top: 100px;
  color: #5d0a17;
  margin: 20px 40px 0px;
}

.samenvatting {
  text-align: justify;
  margin: 20px 40px 100px;
}

/*buttons homepage*/
.button {
  border: none;
  outline: 0;
  padding: 10px 25px;
  color: #f3f2e3;
  background-color: #3195a6;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.buttonreverse {
  border: 3px solid #3195a6;
  outline: 0;
  padding: 7px 22px;
  color: black;
  background-color: #f3f2e3;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

/*position buttons homepage*/

/*Gedeelte onder hero img 
Deel van het reservatieformuler*/
.reservatie {
  background-color: #f3f2e3;
  min-height: 100vh;
}

.form-control {
  border: 2px solid #3d060e;
  border-radius: 0;
  color: black;
}

.btn-position {
  margin: 40px;
}

label {
  background-color: #3d060e;
  color: #f3f2e3;
  padding: 5px 10px;
  margin: 0;
  height: calc(1.5em + 0.75rem + 2px);
}

.btn-pos-txt {
  text-align: right;
  padding: 0px;
}

.affiche {
  float: left;
  width: 70%;
  margin: 100px 50px 0px;
}

.sponsor-card {
  padding: 0;
}

/*footer*/
.footer {
  background-color: #5d0a17;
  color: #f3f2e3;
  height: 90px;
  margin-bottom: 0px;
}

.footer-nav {
  display: inline-block;
  position: absolute;
  right: 50px;
  max-height: 90px;
}

.footer-img {
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
  max-height: 50px;
  min-height: 50px;
}

.footer-txt {
  display: inline-block;
  margin: 20px 0px;
}
/*margin ul bij footer*/
footer > nav > ul {
  margin-bottom: 0px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(243,242,227)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Contact page*/

.contactpage {
  padding-left: 20%;
  padding-right: 20%;
}
